<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.valkriaine.glasslauncher">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="android.permission.BIND_APPWIDGET"
            tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:installLocation="internalOnly"
            android:label="HomeLauncher"
            android:largeHeap="false"
            android:restoreAnyVersion="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:stateNotNeeded="true"
            android:supportsRtl="true"
            android:theme="@style/HomeTheme">
        <activity
                android:name=".SettingsActivity"
                android:label="@string/title_activity_settings">
        </activity>
        <activity
                android:name=".HomeScreen"
                android:clearTaskOnLaunch="true"
                android:enabled="true"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:stateNotNeeded="true"
                android:theme="@style/HomeTheme"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>
    </application>

</manifest>